<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>

    <style>
        body {
            margin-top: 50px;
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

        .article {
            padding: 0.25em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>

<div class="article" th:each="article : ${articles}">
    <h2><a th:href="@{'/article/' + ${article._id} }" th:text="${article.title}"></a></h2>
    <p th:text="${article.body}"></p>
    <img th:src="${article.img}" width="200px"/>
</div>

<div>

    <a th:href="@{/article(page=0)}">First</a>
    <a th:href="@{/article(page=${currentPage - 1})}" th:if="${!isFirst}">Previous</a>
    <span th:text="${currentPage+1}"></span>
    <a th:href="@{/article(page=${currentPage + 1})}" th:if="${!isLast}">Next</a>
    <a th:href="@{/article(page=${totalPages - 1})}">Last</a>

    <select name="pages" onchange="location = this.value;">
        <option th:value="'/article?page=' + ${pageNumber}"
                th:if="${articles.totalPages > 0}"
                th:each="pageNumber : ${pageNumbers}"
                th:text="${pageNumber + 1}"
                th:selected="${pageNumber==currentPage}"
        ></option>
    </select>
</div>

</body>
</html>