<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body {
            margin-top: 50px;
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

        .article {
            padding: 0.25em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .comment-section {
            background: ghostwhite;
        }

        .comments {
            width: 80%
        }
    </style>
</head>
<body>

<div class="article">
    <h2 th:text="${article.title}"></h2>
    <p th:text="${article.body}"></p>
    <img th:src="${article.img}" width="200px"/>
</div>

<div class="comment-section">
    <input type="hidden" id="article-id" th:value="${article._id}" />
    <input id="comment-box" type="text" placeholder="Type your comment">
    <input id="comment-author" type="text" placeholder="Enter your name">
    <button type="button" onclick="submitComment()">Post comment</button>
</div>

<ul class="comments">
    <li class="comment"
         th:each="comment: ${article.comments}"
         th:if="${article.comments != null}">
        <span th:text="${comment.body}"></span>
        <span th:text="${comment.author}"></span>
        <span th:text="${comment.created.toString()}" th:if="${comment.created != null}"></span>

    </li>
</ul>


<script>
    function submitComment() {
        let articleId = document.getElementById('article-id').value;
        let commentText = document.getElementById('comment-box').value;
        let commentAuthor = document.getElementById('comment-author').value;
        console.log(articleId);
        console.log(commentText);
        console.log(commentAuthor);

        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", `/api/article/comment/${articleId}`, true);
        xhttp.onreadystatechange = function() {
            if(xhttp.readyState === 4) {
                if(xhttp.status === 200) {
                    location.reload()
                } else {
                    console.error('An error occurred during your request: ' +  xhttp.status + ' ' + xhttp.statusText);
                }
            }
        };
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({body: commentText, author: commentAuthor}));
    }
</script>
</body>
</html>